/* Start Variables */

:root {
    --main-color: #48ca95;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* Start Header */

header {
    padding: 30px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    header nav {
        display: none;
    }
}

header nav ul {
    display: flex;
}

header nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 17px;
    transition: ease-in all 0.5s;
    -webkit-transition: ease-in all 0.5s;
    -moz-transition: ease-in all 0.5s;
    -ms-transition: ease-in all 0.5s;
    -o-transition: ease-in all 0.5s;
}

header nav ul li a:hover {
    color: #51fe44;
}

@media (min-width: 1199px) {
    header nav ul li a {
        margin: 0 30px;
    }
}

@media (max-width: 991px) {
    header nav ul li a {
        margin: 0 7px;
    }
}

@media (max-width: 991px) {

    header nav ul li:nth-last-of-type(1),
    header nav ul li:nth-last-of-type(2) {
        display: none;
    }
}

header nav ul li a.active {
    color: #51fe44;
}

header nav ul li i {
    color: white;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    transition: ease-in all 0.5s;
    -webkit-transition: ease-in all 0.5s;
    -moz-transition: ease-in all 0.5s;
    -ms-transition: ease-in all 0.5s;
    -o-transition: ease-in all 0.5s;
}

header nav ul li i:hover {
    color: #51fe44;

}

header div.menu {
    display: none;
    cursor: pointer;
}

@media (max-width:768px) {
    header div.menu {
        display: block;
    }
}

header div.menu span {
    display: block;
    background-color: white;
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
}

/* End Header */

/* Start Landing */

.landing {
    background-image: url(../photos/banner.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

@media (max-width: 768px) {
    .landing {
        height: 125vh;
    }
}

@media (max-width: 576px) {
    .landing {
        height: 100vh;
    }
}

.landing .content {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1199px) {
    .landing .content {
        width: 90%;
    }
}

@media (max-width: 991px) {
    .landing .content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        width: 85%;
        bottom: unset;
    }
}

@media (max-width: 768px) {
    .landing .content {
        flex-direction: column;
        align-items: center;
        top: 58%;
    }
}

.landing .content .text {
    width: 40%;
    color: white;
    padding-left: 20px;
}

@media (max-width: 991px) {
    .landing .content .text {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .landing .content .text {
        width: 100%;
        margin-bottom: 40px;
    }
}

.landing .content .text span {
    display: block;
    font-size: 31px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .landing .content .text span {
        font-size: 21px;
    }
}

.landing .content .text h1 {
    font-size: 56px;
    margin: 0 0 30px;
}

@media (max-width: 991px) {
    .landing .content .text h1 {
        font-size: 40px;
    }
}

.landing .content .text p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
}

.landing .content .text .links {
    margin-top: 100px;
    display: flex;
}

@media (max-width: 991px) {
    .landing .content .text .links {
        margin-top: 50px;
    }
}

.landing .content .text .links a {
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    width: fit-content;
    padding: 20px 40px;
    margin-right: 10px;
    transition: ease-in all 0.5s;
    -webkit-transition: ease-in all 0.5s;
    -moz-transition: ease-in all 0.5s;
    -ms-transition: ease-in all 0.5s;
    -o-transition: ease-in all 0.5s;
}

.landing .content .text .links a:hover {
    background-color: var(--main-color, #48ca95);
}

@media (max-width: 991px) {
    .landing .content .text .links a {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .landing .content .text .links a {
        width: 35%;
        text-align: center;
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .landing .content .text .links a {
        width: 50%;
    }
}

.landing .content .image img {
    width: 100%;
    margin-bottom: 60px;
}

@media (max-width: 576px) {
    .landing .content .image img {
        margin-bottom: 15px;
    }
}

.landing .content .image nav {
    display: flex;
    justify-content: center;
}

.landing .content .image nav div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color, #48ca95);
    margin-right: 10px;
    cursor: pointer;
}

.landing .content .image nav div.active {
    background-color: white;
}

/* End Landing */

/* Start Boxes */

.boxes {
    padding-top: 100px;
    padding-bottom: 100px;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .boxes .container {
        flex-direction: column;
        align-items: center;
    }
}

.boxes .container .box {
    text-align: center;
    border: 1px solid var(--main-color, #48ca95);
    flex-basis: calc((100% / 3) - 30px);
    padding: 50px 20px 20px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media (max-width: 768px) {
    .boxes .container .box {
        width: 70%;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .boxes .container .box {
        width: 100%;
    }
}

.boxes .container .box img {
    margin-bottom: 20px;
}

.boxes .container .box h3 {
    font-size: 20px;
    margin-bottom: 25px;
}

.boxes .container .box p {
    font-size: 17px;
    color: #050505;
    line-height: 1.8;
}

@media (max-width: 991px) {
    .boxes .container .box p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .boxes .container .box p {
        font-size: 17px;
    }
}

/* End Boxes */

/* Start Products */

.products {
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 100px;
}

.products .container h2 {
    margin: 0 auto;
    width: fit-content;
    font-size: 40px;
    border-bottom: 1px solid var(--main-color, #48ca95);
    margin-bottom: 50px;
}

.products .container .content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products .container .content .gall {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

@media (max-width: 768px) {
    .products .container .content .gall {
        flex-direction: column;
    }
}

.products .container .content .gall .product {
    flex-basis: calc((100% / 3) - 30px);
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products .container .content .gall .product img {
    margin-bottom: 15px;
}

.products .container .content .gall .product h3 {
    background-color: #252525;
    color: white;
    padding: 10px 50px;
    transition: ease-in all 0.5s;
    -webkit-transition: ease-in all 0.5s;
    -moz-transition: ease-in all 0.5s;
    -ms-transition: ease-in all 0.5s;
    -o-transition: ease-in all 0.5s;
}

.products .container .content .gall .product h3:hover {
    background-color: var(--main-color, #48ca95);
}

.products .container .content a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-color, #48ca95);
    border: 2px solid var(--main-color, #48ca95);
    padding: 20px 70px;
    margin: -80px 0 50px;
    transition: ease-in all 0.5s;
    -webkit-transition: ease-in all 0.5s;
    -moz-transition: ease-in all 0.5s;
    -ms-transition: ease-in all 0.5s;
    -o-transition: ease-in all 0.5s;
}

.products .container .content a:hover {
    background-color: var(--main-color, #48ca95);
    color: black;
}

/* End Products */

/* Start Computer */

.computer {
    background-color: #4f4aa6;
    padding-top: 100px;
    padding-bottom: 100px;
}

.computer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .computer .container {
        flex-direction: column;
    }
}

.computer .container .text {
    color: white;
}

@media (max-width: 768px) {
    .computer .container .text {
        margin-bottom: 45px;
    }
}

.computer .container .text p {
    font-size: 40px;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .computer .container .text p {
        font-size: 30px;
    }
}

.computer .container .text h2 {
    font-size: 78px;
    font-weight: 400;
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .computer .container .text h2 {
        font-size: 56px;
    }
}

.computer .container .text a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    padding: 20px 50px;
    background-color: var(--main-color, #48ca95);
    width: fit-content;
    transition: ease-in all 0.5s;
    -webkit-transition: ease-in all 0.5s;
    -moz-transition: ease-in all 0.5s;
    -ms-transition: ease-in all 0.5s;
    -o-transition: ease-in all 0.5s;
}

.computer .container .text a:hover {
    background-color: #000;
}

.computer .container img {
    width: 40%;
}

@media (max-width: 768px) {
    .computer .container img {
        width: 100%;
    }
}

/* End Computer */

/* Start Customer */

.customer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.customer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customer .container h2 {
    font-size: 40px;
    color: #090807;
    border-bottom: 1px solid var(--main-color, #48ca95);
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .customer .container h2 {
        font-size: 30px;
    }
}

.customer .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 150px;
    position: relative;
}

@media (max-width: 768px) {
    .customer .container .content {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .customer .container .content {
        width: 100%;
    }
}

.customer .container .content img {
    width: 45px;
    margin-bottom: 20px;
}

.customer .container .content h4 {
    font-size: 30px;
    color: #030305;
    font-weight: 600;
    margin-bottom: 30px;
}

.customer .container .content p {
    font-size: 17px;
    line-height: 28px;
    color: #0b0b0c;
    font-weight: 500;
}

.customer .container .content nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -45px;
    left: -200px;
}

@media (max-width: 768px) {
    .customer .container .content nav {
        left: 0;
    }
}

.customer .container .content nav div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color, #48ca95);
    cursor: pointer;
    margin-right: 10px;
}

.customer .container .content nav div.active {
    background-color: #4f4aa6;
}

/* End Customer */