/* Start Variables */

:root {
    --main-color: #48ca95;
    --trans-color: #ffffff;
    --trans-dur: 0.5s;
    --section-pad: 100px;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

a.button {
    display: block;
    background-color: var(--main-color, #48ca95);
    text-transform: capitalize;
    width: fit-content;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    padding: 20px 50px;
    transition: var(--trans-dur, 0.5s);
    -webkit-transition: var(--trans-dur, 0.5s);
    -moz-transition: var(--trans-dur, 0.5s);
    -ms-transition: var(--trans-dur, 0.5s);
    -o-transition: var(--trans-dur, 0.5s);
}

a.button:hover {
    background-color: black;
}

/* End Component */

/* Start Header */

header {
    padding: 30px;
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.sub-page {
    background-color: #4843a3;
    position: relative;
}

@media (max-width: 768px) {
    header nav {
        display: none;
    }
}

header img {
    cursor: pointer;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--trans-color, #ffffff);
    margin: 0 15px;
    font-size: 17px;
    transition: ease-in all var(--trans-dur, 0.5s);
    -webkit-transition: ease-in all var(--trans-dur, 0.5s);
    -moz-transition: ease-in all var(--trans-dur, 0.5s);
    -ms-transition: ease-in all var(--trans-dur, 0.5s);
    -o-transition: ease-in all var(--trans-dur, 0.5s);
}

header nav ul li a:hover {
    color: #51fe44;
}

@media (min-width: 1199px) {
    header nav ul li a {
        margin: 0 30px;
    }
}

@media (max-width: 991px) {
    header nav ul li a {
        margin: 0 7px;
    }
}

@media (max-width: 991px) {

    header nav ul li:nth-last-of-type(1),
    header nav ul li:nth-last-of-type(2) {
        display: none;
    }
}

header nav ul li a.active {
    color: #51fe44;
}

header nav ul li i {
    color: var(--trans-color, #ffffff);
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    transition: ease-in all var(--trans-dur, 0.5s);
    -webkit-transition: ease-in all var(--trans-dur, 0.5s);
    -moz-transition: ease-in all var(--trans-dur, 0.5s);
    -ms-transition: ease-in all var(--trans-dur, 0.5s);
    -o-transition: ease-in all var(--trans-dur, 0.5s);
}

header nav ul li i:hover {
    color: #51fe44;

}

header div.menu {
    display: none;
    cursor: pointer;
}

@media (max-width:768px) {
    header div.menu {
        display: block;
    }
}

header div.menu span {
    display: block;
    background-color: var(--trans-color, #ffffff);
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
}

/* End Header */

/* Start Landing */

.landing {
    background-image: url(../photos/banner.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

@media (max-width: 768px) {
    .landing {
        height: 125vh;
    }
}

@media (max-width: 576px) {
    .landing {
        height: 100vh;
    }
}

.landing .content {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1199px) {
    .landing .content {
        width: 90%;
    }
}

@media (max-width: 991px) {
    .landing .content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        width: 85%;
        bottom: unset;
    }
}

@media (max-width: 768px) {
    .landing .content {
        flex-direction: column;
        align-items: center;
        top: 58%;
    }
}

.landing .content .text {
    width: 40%;
    color: var(--trans-color, #ffffff);
    padding-left: 20px;
}

@media (max-width: 991px) {
    .landing .content .text {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .landing .content .text {
        width: 100%;
        margin-bottom: 40px;
    }
}

.landing .content .text span {
    display: block;
    font-size: 31px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .landing .content .text span {
        font-size: 21px;
    }
}

.landing .content .text h1 {
    font-size: 56px;
    margin: 0 0 30px;
}

@media (max-width: 991px) {
    .landing .content .text h1 {
        font-size: 40px;
    }
}

.landing .content .text p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
}

.landing .content .text .links {
    margin-top: 100px;
    display: flex;
}

@media (max-width: 991px) {
    .landing .content .text .links {
        margin-top: 50px;
    }
}

.landing .content .text .links a {
    text-transform: capitalize;
    color: var(--trans-color, #ffffff);
    text-decoration: none;
    border: 1px solid var(--trans-color, #ffffff);
    width: fit-content;
    padding: 20px 40px;
    margin-right: 10px;
    transition: ease-in all var(--trans-dur, 0.5s);
    -webkit-transition: ease-in all var(--trans-dur, 0.5s);
    -moz-transition: ease-in all var(--trans-dur, 0.5s);
    -ms-transition: ease-in all var(--trans-dur, 0.5s);
    -o-transition: ease-in all var(--trans-dur, 0.5s);
}

.landing .content .text .links a:hover {
    background-color: var(--main-color, #48ca95);
}

@media (max-width: 991px) {
    .landing .content .text .links a {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .landing .content .text .links a {
        width: 35%;
        text-align: center;
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .landing .content .text .links a {
        width: 50%;
    }
}

.landing .content .image img {
    width: 100%;
    margin-bottom: 60px;
}

@media (max-width: 576px) {
    .landing .content .image img {
        margin-bottom: 15px;
    }
}

.landing .content .image nav {
    display: flex;
    justify-content: center;
}

.landing .content .image nav div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color, #48ca95);
    margin-right: 10px;
    cursor: pointer;
}

.landing .content .image nav div.active {
    background-color: var(--trans-color, #ffffff);
}

/* End Landing */

/* Start Boxes */

.boxes {
    padding-top: var(--section-pad, 100px);
    padding-bottom: var(--section-pad, 100px);
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .boxes .container {
        flex-direction: column;
        align-items: center;
    }
}

.boxes .container .box {
    text-align: center;
    border: 1px solid var(--main-color, #48ca95);
    flex-basis: calc((100% / 3) - 30px);
    padding: 50px 20px 20px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media (max-width: 768px) {
    .boxes .container .box {
        width: 70%;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .boxes .container .box {
        width: 100%;
    }
}

.boxes .container .box img {
    margin-bottom: 20px;
}

.boxes .container .box h3 {
    font-size: 20px;
    margin-bottom: 25px;
}

.boxes .container .box p {
    font-size: 17px;
    color: #050505;
    line-height: 1.8;
}

@media (max-width: 991px) {
    .boxes .container .box p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .boxes .container .box p {
        font-size: 17px;
    }
}

/* End Boxes */

/* Start Products */

.products {
    background-color: #f7f7f7;
    padding-top: var(--section-pad, 100px);
    padding-bottom: var(--section-pad, 100px);
}

.products .container h2 {
    margin: 0 auto;
    width: fit-content;
    font-size: 40px;
    border-bottom: 1px solid var(--main-color, #48ca95);
    margin-bottom: 50px;
}

.products .container .content {
    background-color: var(--trans-color, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products .container .content .gall {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

@media (max-width: 768px) {
    .products .container .content .gall {
        flex-direction: column;
    }
}

.products .container .content .gall .product {
    flex-basis: calc((100% / 3) - 30px);
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products .container .content .gall .product img {
    margin-bottom: 15px;
}

.products .container .content .gall .product h3 {
    background-color: #252525;
    color: var(--trans-color, #ffffff);
    padding: 10px 50px;
    transition: ease-in all var(--trans-dur, 0.5s);
    -webkit-transition: ease-in all var(--trans-dur, 0.5s);
    -moz-transition: ease-in all var(--trans-dur, 0.5s);
    -ms-transition: ease-in all var(--trans-dur, 0.5s);
    -o-transition: ease-in all var(--trans-dur, 0.5s);
    cursor: pointer;
}

.products .container .content .gall .product h3:hover {
    background-color: var(--main-color, #48ca95);
}

.products .container .content a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-color, #48ca95);
    border: 2px solid var(--main-color, #48ca95);
    padding: 20px 70px;
    margin: -80px 0 50px;
    transition: ease-in all var(--trans-dur, 0.5s);
    -webkit-transition: ease-in all var(--trans-dur, 0.5s);
    -moz-transition: ease-in all var(--trans-dur, 0.5s);
    -ms-transition: ease-in all var(--trans-dur, 0.5s);
    -o-transition: ease-in all var(--trans-dur, 0.5s);
}

.products .container .content a:hover {
    background-color: var(--main-color, #48ca95);
    color: black;
}

/* End Products */

/* Start Computer */

.computer {
    background-color: #4f4aa6;
    padding-top: var(--section-pad, 100px);
    padding-bottom: var(--section-pad, 100px);
}

.computer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .computer .container {
        flex-direction: column;
    }
}

.computer .container .text {
    color: var(--trans-color, #ffffff);
}

@media (max-width: 768px) {
    .computer .container .text {
        margin-bottom: 45px;
    }
}

.computer .container .text p {
    font-size: 40px;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .computer .container .text p {
        font-size: 30px;
    }
}

.computer .container .text h2 {
    font-size: 78px;
    font-weight: 400;
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .computer .container .text h2 {
        font-size: 56px;
    }
}

.computer .container img {
    width: 40%;
}

@media (max-width: 768px) {
    .computer .container img {
        width: 100%;
    }
}

/* End Computer */

/* Start Customer */

.customer {
    padding-top: var(--section-pad, 100px);
    padding-bottom: var(--section-pad, 100px);
}

.customer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customer .container h2 {
    font-size: 40px;
    color: #090807;
    border-bottom: 1px solid var(--main-color, #48ca95);
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .customer .container h2 {
        font-size: 30px;
    }
}

.customer .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 150px;
    position: relative;
}

@media (max-width: 768px) {
    .customer .container .content {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .customer .container .content {
        width: 100%;
    }
}

.customer .container .content img {
    width: 45px;
    margin-bottom: 20px;
}

.customer .container .content h4 {
    font-size: 30px;
    color: #030305;
    font-weight: 600;
    margin-bottom: 30px;
}

.customer .container .content p {
    font-size: 17px;
    line-height: 28px;
    color: #0b0b0c;
    font-weight: 500;
}

.customer .container .content nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -45px;
    left: -200px;
}

@media (max-width: 768px) {
    .customer .container .content nav {
        left: 0;
    }
}

.customer .container .content nav div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color, #48ca95);
    cursor: pointer;
    margin-right: 10px;
}

.customer .container .content nav div.active {
    background-color: #4f4aa6;
}

/* End Customer */

/* Start Contact */

.contact {
    padding-top: var(--section-pad, 100px);
    padding-bottom: var(--section-pad, 100px);
    background-image: url(../photos/contact_g.jpg);
    background-size: cover;
    background-position: center;
}

.contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .container h2 {
    font-size: 40px;
    color: var(--trans-color, #ffffff);
    border-bottom: 1px solid var(--trans-color, #ffffff);
    width: fit-content;
    margin-bottom: 50px;
}

.contact .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--trans-color, #ffffff);
    padding: 70px 50px;
    width: 80%;
}

@media (max-width: 991px) {
    .contact .container form {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .contact .container form {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .contact .container form {
        width: 100%;
        padding: 70px 25px;
    }
}

.contact .container form input {
    padding: 15px;
    width: 90%;
    border: 1px solid var(--trans-color, #ffffff);
    background: none;
    caret-color: var(--trans-color, #ffffff);
    margin-bottom: 30px;
    color: var(--trans-color, #ffffff);
}

@media (max-width: 576px) {
    .contact .container form input {
        width: 95%;
    }
}

.contact .container form input::placeholder {
    color: var(--trans-color, #ffffff);
}

.contact .container form input:focus {
    outline: none;
}

.contact .container form textarea {
    width: 90%;
    background: none;
    font-size: 18px;
    border: 1px solid var(--trans-color, #ffffff);
    padding: 50px 10px;
    margin-bottom: 50px;
    color: var(--trans-color, #ffffff);
}

@media (max-width: 576px) {
    .contact .container form textarea {
        width: 95%;
    }
}

.contact .container form textarea::placeholder {
    color: var(--trans-color, #ffffff);
}

.contact .container form textarea:focus {
    outline: none;
}

.contact .container form button {
    background-color: var(--main-color, #48ca95);
    border: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    text-transform: uppercase;
    color: var(--trans-color, #ffffff);
    padding: 20px 70px;
    font-size: 22px;
    cursor: pointer;
    transition: ease-in all var(--trans-dur, 0.5s);
    -webkit-transition: ease-in all var(--trans-dur, 0.5s);
    -moz-transition: ease-in all var(--trans-dur, 0.5s);
    -ms-transition: ease-in all var(--trans-dur, 0.5s);
    -o-transition: ease-in all var(--trans-dur, 0.5s);
}

.contact .container form button:hover {
    background-color: #000;
}

/* End Contact */

/* Start About */

.about {
    padding-top: var(--section-pad, 100px);
    padding-bottom: var(--section-pad, 100px);
}

.about .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .about .container {
        flex-direction: column;
        align-items: center;
    }
}

.about .container .text {
    width: 50%;
}

@media (max-width: 768px) {
    .about .container .text {
        width: 80%;
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .about .container .text {
        width: 100%;
    }
}

.about .container .text h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.about .container .text p {
    color: #666666;
    line-height: 1.7;
    font-size: 15px;
    font-weight: 600;
}

.about .container .image img {
    width: 100%;
}

/* End About */


/* Start Laptop */

.laptop {
    padding-top: var(--section-pad, 100px);
    padding-bottom: var(--section-pad, 100px);
    background-color: #f6f6f6;
}

.laptop .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .laptop .container {
        flex-direction: column;
    }
}

.laptop .container .image img {
    width: 100%;
}

.laptop .container .text {
    width: 50%;
    text-align: end;
}

@media (max-width: 768px) {
    .laptop .container .text {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .laptop .container .text {
        width: 100%;
    }
}


.laptop .container .text h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.laptop .container .text p {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 20px;
}

.laptop .container .text a {
    margin: 0 0 0 auto;
}

/* End Laptop */

/* Start Footer */

footer {
    background-image: url(../photos/footer.jpg);
    background-size: cover;
    padding-top: var(--section-pad, 100px);
}

footer .container .up {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--trans-color, #ffffff);
    padding-bottom: 50px;
}

@media (max-width: 576px) {
    footer .container .up {
        flex-direction: column;
    }
}

footer .container .up>div {
    flex-basis: calc((100% / 4) - 30px);
    color: var(--trans-color, #ffffff);
}

@media (max-width: 991px) {
    footer .container .up>div {
        flex-basis: calc((100% / 2) - 30px);
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    footer .container .up>div {
        width: 100%;
    }
}

footer .container .up div.logo img {
    margin-bottom: 45px;
}

footer .container .up div.logo div.socials {
    display: flex;
}

footer .container .up div.logo div.socials div {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--trans-color, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    color: #222222;
    font-size: 22px;
    transition: ease-in all var(--trans-dur, 0.5s);
    -webkit-transition: ease-in all var(--trans-dur, 0.5s);
    -moz-transition: ease-in all var(--trans-dur, 0.5s);
    -ms-transition: ease-in all var(--trans-dur, 0.5s);
    -o-transition: ease-in all var(--trans-dur, 0.5s);
}

footer .container .up div.logo div.socials div:hover {
    background-color: var(--main-color, #48ca95);
    color: var(--trans-color, #ffffff);
}

footer .container .up>div h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

footer .container .up>div p {
    font-size: 17px;
    line-height: 2;
}

footer .container .up div.form input {
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

footer .container .up div.form input::placeholder {
    font-weight: bold;
}

footer .container .up div.form input:focus {
    outline: none;
}

footer .container .up div.form button {
    background-color: var(--main-color, #48ca95);
    padding: 15px 30px;
    border: none;
    color: var(--trans-color, #ffffff);
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: ease-in all var(--trans-dur, 0.5s);
    -webkit-transition: ease-in all var(--trans-dur, 0.5s);
    -moz-transition: ease-in all var(--trans-dur, 0.5s);
    -ms-transition: ease-in all var(--trans-dur, 0.5s);
    -o-transition: ease-in all var(--trans-dur, 0.5s);
    cursor: pointer;
}

footer .container .up div.form button:hover {
    background-color: #000;
}

footer .container .down {
    padding: 25px 0;
    color: #ddd;
    text-align: center;
    font-size: 17px;
}

/* End Footer */